body {
    background-color: rgb(163, 151, 136);
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: rgb(211, 145, 24);
    margin: 0;

}

.hidden {
    display: none;
}


a, #navContact {
    color: rgb(255, 190, 70);
    font-size: 250%;
    text-decoration: none;
    font-weight: 800;
    padding: 0 3%;
}

#casketBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#portfolioLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-right: 1%;
}

#contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin-right: 1%;
}

#contactInfo:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 101%;
    height: 103%;
    border-radius: 5%;
    margin-right: 1%;
}

.portfolioProject {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.proj1 {
    display: flex ;
    justify-content: center;
    align-items: center;
    background-image: url('images/projMFC.png');
    background-blend-mode: overlay;
    background-color: rgba(220, 220, 220, 0.05);
    
}
.proj2 {
    display: flex ;
    justify-content: center;
    align-items: center;
    background-image: url('images/man02.jpg');
    background-blend-mode: overlay;
    background-color: rgba(220, 220, 220, 0.05);
}

.proj3 {
    display: flex ;
    justify-content: center;
    align-items: center;
    background-image: url('images/man1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(220, 220, 220, 0.05);
}


.code {
    background-image: url('images/githubLink.png');
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.3);
    
}

#cartoonPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

#cartoonPortfolio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

#cartoonIMG1 {
    background-image: url('images/cartoonPortfolio2.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 98%;
    height: 98%;
}

#cartoonIMG1:hover, #cartoonIMG2:hover {
    background-image: url('images/cartoonPortfolio1.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 98%;
    height: 98%;
}

#cartoonIMG2 {
    background-image: url('images/cartoonPortfolio.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 98%;
    height: 98%;
}

.portfolioBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 90vw;
    border-radius: 5%;
}

.contactBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 90vw;
    border-radius: 5%;
}

#startButton {
    font-size: 300%;
    margin-top: 20vh;
    height: 50vh;
    width: 60vw;
    background-color: rgba(17, 17, 17, 0.7);
    border: 5px solid rgb(34, 34, 34);
    color: rgb(255, 190, 70);
    animation: startButton 3s infinite alternate linear;
}

#startButton:hover {
    height: 51vh;
    width: 61vw;
    border: 5px solid black;
    animation-play-state: paused;
}

#startButton:active {
    height: 49vh;
    width: 59vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid rgb(104, 104, 104);
}

.hide {
    display: none;
}

.fadein {
    animation: fadeIn 0.5s forwards linear;
}

.fadeout {
    animation: fadeOut 0.5s forwards linear;
    
}

.small {
    font-size: 100%;
}

@keyframes fadeIn {
 0% { transform: scale(30%)}
 100% {transform: scale(100%)}

}

@keyframes fadeOut {
    0% { transform: scale(100%)}
    
    100% {transform: scale(0%)}
   
   }

.border {

    border-radius: 20%;
    width: 40vw;
    min-width: 200px;
    max-width: 400px;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

   .hoverProj:hover {
    animation: hoverproject 0.3s forwards linear;
}

@keyframes hoverproject {
    0% { transform: scale(100%)}
    100% {transform: scale(103%);}
}

@keyframes startButton {
    0% { transform: scale(100%)}
    80% { transform: scale(100%)}
    90% {transform: scale(102%);}
    100% { transform: scale(99%)}
}

#navBar {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 7vh;
    width: 45vw;
    margin: 1% 0;
    font-size: 10px;
    padding: 15px;
}

#navBarhover {

    height: 12vh;
    width: 45vw;
   
}

@media screen and (max-width: 900px) {
    #navBar {
        font-size: 8px;
    } 
}

@media screen and (max-width:700px) {
    #navBar {
        padding-top: 5%;
        font-size: 6px;
    }
}

@media screen and (max-width:600px) {
    #navBar {
        padding-top: 10%;
        font-size: 5px;
    }
}



.hide {
    display: none;
}



